.flex-info{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 3rem;
}

.track-crypto-heading,
.real-time-heading{
    font-size: 5rem;
    font-weight: 700;
    margin: 0;
}

.track-crypto-heading{
    color: var(--white);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--white);
}

.track-crypto-heading:hover{
    color: var(--black);
    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: var(--white);
    transition: all 0.3s;
}

.real-time-heading{
    color: var(--blue);  
}

.info-text{
    font-size: 1rem;
    color: var(--grey);
}

.btn-flex{
    display: flex;
    gap: 1.5rem;
    justify-content: flex-start;
    align-items: center;
    margin-top: 2rem;
}

.phone-container{
   width: 50%;
   position: relative;
   padding: 1rem;
}

.phone{
    position: absolute;
    z-index: 10;
    min-width: 300px;
    width: 50%;
    right: 0;
}

.gradient{
    position: absolute;
    min-width: 250px;
    width: 40%;
    border-radius: 2.3rem;
    top: 7rem;
    right: 0;
}

@media only screen and (max-width: 1920px) {
 .track-crypto-heading,
 .real-time-heading{
    font-size: 10rem !important;
    font-weight: 700;
    margin: 0;
  }
}

@media only screen and (max-width: 1500px) {
    .track-crypto-heading,
    .real-time-heading{
       font-size: 8rem !important;
       font-weight: 700;
       margin: 0;
     }
   }

@media only screen and (max-width: 1000px) {
    .track-crypto-heading,
 .real-time-heading{
    font-size: 5rem !important;
    font-weight: 700;
    margin: 0;
  }
    .phone{
        min-width: 250px;
        width: 50%;
        right: 0;
    }
    
    .gradient{
        min-width: 200px;        
        top: 5rem;
    }
    
}


@media only screen and (max-width: 800px) {
   .flex-info{
    flex-direction: column;
    /* height: 100vh; */
   }

   .phone-container{
    display: block;
    height: 21rem;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 5rem;
   }

   .iphone{
    left: 15%;
   }

   .gradient{
    left: 25%;
   }

   .left-component{
    width: 100%;
   }

   .track-crypto-heading,
   .real-time-heading{
    font-size: 3rem !important;
    text-align: center;
   }

   .track-crypto-heading{
    -webkit-text-stroke-width: 1px;
   }


   .info-text{
    text-align: center;
   }

   .btn-flex{
     flex-direction: column;
     /* justify-content: center; */
   }

    
}